<footer class="footer">
    <div class="container">
    <div class="d-flex justify-content-between align-items-center py-3 py-5">
        <div class="d-flex gap-3">
            <a href="#" class="text-darkgray me-4">服務方案</a>
            <a href="#" class="text-darkgray me-4">關於職旅</a>
            <a href="#" class="text-darkgray me-4">聯絡我們</a>
            <a href="#" class="text-darkgray me-4">隱私權政策</a>
            <a href="#" class="text-darkgray me-4">用戶條款</a>
        </div>
     <div>
            <p class="mb-0 text-copyright">Copyright © 2025 職旅 workway. All rights reserved.</p>
        </div>
    </div>
    </div>
</footer>